:root {
  // Backgrounds
  --bg-light: #f3f5f8;
  --bg-white: #ffffff;
  // Colors
  --color-primary-black: #06162e;
  --color-primary-white: #ffffff;
  --color-secondary-black: #4c3536;
  // Font Variables
  --font-primary: 'Gotham Pro', sans-serif;
}
